<div class="w3-container">
  <h5>Countries</h5>
  <table class="w3-table w3-striped w3-bordered w3-border w3-hoverable w3-white">
    <% country_data_finals.each do |country_data| %>
      <tr>
        <td><%= country_data.name %></td>
        <td><%= country_data.percentage %>%</td>
      </tr>
    <% end %>
  </table><br>
  <button class="w3-button w3-dark-grey">More Countries  <i class="fa fa-arrow-right"></i></button>
</div>
